
:root {
    --font: 'Inter', sans-serif;
    --code-font: 'Jetbrains Mono', monospace;

    --header-background-color-landing: rgba(238, 238, 238, 0.75);
    --search-overlay-color: var(--header-background-color-landing);

    --paragraph-indent: 0;
    --paragraph-align: left;

}

.m-text-center img, .m-text-center img:last-child {
    display: inline-block;
    margin: 0.5em;
}
