
:root {
    --font: 'Inter', sans-serif;
    --code-font: 'Jetbrains Mono', monospace;

    --header-background-color-landing: #ddddddaa;
    --search-overlay-color: var(--header-background-color-landing);

    --paragraph-indent: 0;
    --paragraph-align: left;

}

.m-text-center img, .m-text-center img:last-child {
    display: inline-block;
    margin: 0.5em;
}

.m-doc-search {
    backdrop-filter: blur(7px);
}
