
:root {
    --font: 'Inter', sans-serif;
    --code-font: 'Jetbrains Mono', monospace;

    --header-background-color-landing: rgba(238, 238, 238, 0.75);
    --search-overlay-color: var(--header-background-color-landing);
}
